<section class="text-black text-center py-5 px-3" style="background-color: #27d8de;">
  <div class="container">
    <h2 class="fw-bold mb-3 fs-3 text-start" style="color: #0018c0;">AKMAT stands for integrity, compassion and respect for ALL. Our mission is to uplift the society by focusing on 5 pillars of Education, Health, restoration of Environment(Panch&nbsp;Tatva), Law Enforcement and Absolute Empowerment of Women.</h2>

    <h2 class="fw-bold fs-3 text-start mt-5" style="color: #0018c0;">
      We are working tirelessly to create a future where every citizen of India, regardless of their background, enjoys access to its rights and benefits as laid down by the Constitution of India
    </h2>
  </div>
</section>
