<section class="bg-light text-white text-center py-5 px-3">
  <div class="container py-0">
    <div class="row align-items-center">
      <div class="col-md-5 col-12 text-black">
        <h3 class="fw-bold text-start fw-bolder">Discover the city and dive in with passion.</h3>
        <p class="text-start fs-4">
          <strong>Respect for All: Empowering Every Voice.</strong>
          <br>
          We are committed to respecting diversity and upholding the dignity of every individual.
          <span class="fw-bold text-info">Our party believes in
            creating an environment where every citizen's voice is heard.</span>
          and where policies are shaped by the collective
          needs of the community.
        </p>
      </div>

      <div class="col-md-7 col-12 text-center">
        <!-- Simplified SVG Map -->
        <img src="assets/images/state-map/12.svg" alt="State Map" class="img-fluid"  loading="lazy"/>
      </div>
    </div>
  </div>
</section>
